In [1]:
import geopandas as gpd
import h5py
import numpy as np
import pandas as pd
from shapely.geometry import Point

# local import
from deck_widget.widget import DeckWidget

In [2]:
# You can download the following file from
# https://data.nsidc.earthdatacloud.nasa.gov/nsidc-cumulus-prod-protected/ATLAS/ATL03/005/2018/10/13/ATL03_20181013235645_02340114_005_01.h5
path = 'ATL03_20181013235645_02340114_005_01.h5'
h5file = h5py.File(path)
lons = np.array(h5file['/gt1l/heights/lon_ph'])
lats = np.array(h5file['/gt1l/heights/lat_ph'])
heights = np.array(h5file['/gt1l/heights/h_ph'])

In [3]:
gdf = gpd.GeoDataFrame(geometry=[Point(*xyz) for xyz in zip(lons, lats, heights)])

In [4]:
gdf

                                        geometry
0       POINT Z (-124.48671 -24.97569 124.02888)
1       POINT Z (-124.48671 -24.97569 100.97400)
2       POINT Z (-124.48671 -24.97569 114.86094)
3       POINT Z (-124.48672 -24.97568 132.07475)
4       POINT Z (-124.48671 -24.97568 108.56876)
...                                          ...
11347  POINT Z (-124.56434 -24.25366 -130.55228)
11348  POINT Z (-124.56434 -24.25366 -153.80170)
11349  POINT Z (-124.56434 -24.25366 -134.52451)
11350  POINT Z (-124.56434 -24.25365 -128.74466)
11351  POINT Z (-124.56434 -24.25365 -140.25656)

[11352 rows x 1 columns]

In [5]:
DeckWidget.from_geopandas(gdf)

DeckWidget(buffer=b'ARROW1\x00\x00\xff\xff\xff\xffx\x02\x00\x00\x10\x00\x00\x00\x00\x00\n\x00\x0e\x00\x06\x00\…